extends ../layouts/commom

block content
	h2 User list
		a.btn.btn-primary.ml-2(href="/users/create") Create
	.d-flex.align-items-center
		form.ml-auto(action="/users/search", method="GET", class="d-flex")
			input(type="text", name="q", class="form-control", value=value ? value : '')
			button(class="ml-2 btn btn-primary") Search
	table.table
		tr
			th Name
			th Avatar
			th Action
		each user in users
			tr
				td= user.name
				td
					img(src=user.avatar, width="32")
				td
					button(onclick='window.location.href ="/users/' + user.id + '"', class="btn btn-primary") View

	if user
		p= user.user
